@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  text-transform: capitalize !important;
}
h3 {
  text-transform: capitalize !important;
}
.bg-cust {
  background: linear-gradient(45deg, rgb(49 77 171), rgb(0 167 184));
}
.bg-body {
  /* background: linear-gradient(45deg, rgb(49 77 171), rgb(0 167 184));    */
  background: url("./images/login-bg.jpg");
  background-size: cover;
}
.css-batk84-MuiInputBase-root-MuiFilledInput-root::before,
.css-1bl45wc-MuiInputBase-root-MuiFilledInput-root::before {
  border-bottom: 1px solid #f3f3f3 !important;
}
.innerbg {
  background: url("./images/bg-inner.png");
  background-size: cover;
}
.modal {
  overflow-x: auto;
  height: 90%;
}
.table-resposive {
  display: block;
  overflow-x: auto;
}
.css-19kzrtu {
  padding: 10px !important;
}

.MuiMenuItem-root {
  width: 30vw;
  height: auto;
  min-height: 1.4375em;
  text-overflow: ellipsis !important;
  white-space: pre-wrap !important;
  overflow: hidden;
}
.block {
  display: block !important;
}
.tab-sty {
  overflow: auto;
  height: 79vh;
}
.tab-sty-report {
  overflow: auto;
  height: 70vh;
}
input[type="file"] {
  display: none;
}
label.custom-file-upload {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: ruby-text;
}
